body {
  width: 700px;
  margin: 4% auto;
}

.calculator {
  padding: 20px;
}

.operators div{
  display: inline-block;
  background-color: lightcoral;
  text-align: center;
  width: 80px;
  margin: 20px 4px 10px 0;
}

.leftPanel {
  display: inline-block;
}

.numbers div{
  display: inline-block;
  background-color: aquamarine;
  text-align: center;
  width: 80px;
  margin: 10px 4px 10px 0;
}

.equal {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 12%;
}